/* alert --------------------------- */

.alert{
  @apply
  px-3
  py-2
  rounded
  text-sm
  text-gray-700
  bg-gray-200

  dark:text-gray-300
  dark:bg-gray-700
}

.alert--info{
  @apply
  text-blue-900
  bg-blue-100

  dark:text-blue-300
  dark:bg-blue-900
}

.alert--success{
  @apply
  text-green-900
  bg-green-100

  dark:text-green-300
  dark:bg-green-900
}

.alert--warn{
  @apply
  text-orange-900
  bg-orange-100

  dark:text-orange-300
  dark:bg-orange-900
}

.alert--red{
  @apply
  text-red-900
  bg-red-100

  dark:text-red-300
  dark:bg-red-900
}
